h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 8px;
    color: #333;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 4px;
    color: #333;
}

b {
    font-weight: bold;
}
