b {
    font-weight: bold;
}

.errorText {
    padding: 32px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #c83234;
}

.property {
    margin: 8px;
}
.property > :first-child {
    font-weight: bold;
}
