.Graph {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    width: 416px;
    height: 116px;
}

.Graph-canvas {
    background: #fff;
    vertical-align: top;
    padding: 8px;
}
